@import url("fonts/fonts.css");

body {
    margin: 0;
    font-family: 'Open Sans';
}

.header {
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: space-between;

}

.logo {
    background-color: red;
    flex-grow: 1;
    padding-left: 250px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    margin: 0 -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a {
    display: block;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);

}

.navigation {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    height: 100%;
}

.navigation a {
    text-decoration: none;
    color: #E43636;
}

.info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 250px;
    flex: 1;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #007BFF;
    flex: 1;
    gap: 30px;
    padding-right: 250px;
}

.menu a {
    color: #fff;
    text-transform: uppercase;

}

.invite-us.button {
    color: #fff;
    text-transform: uppercase;
    background-color: #E43636;
    width: 144px;
    height: 44px;
    line-height: 44px;
    text-align: center;
}

/* Font task */

.content .first {
    max-width: 1000px;
    margin: auto;

    font-family: "BhuTuka Expanded";
    font-weight: 600;
    line-height: 1.5;
}

.first h1 {
    font-family: "Cormorant SC";
}

.first h2, 
.first h3, 
.first h4, 
.first h5, 
.first h6 {
    font-family: "Square Peg";
}

.content .ibarra {
    font-family: "Ibarra Real Nova";
    max-width: 545px;
    margin: auto;
}

.italics {
    font-style: italic;
}

.ibarra-line {
    border: none;
    display: block;
    background-color: yellow;
    height: 2px;
    width: 100%;
}

.ibarra-cube {
    width: 170px;
    height: 59px;
    background-color: yellow;
}