body {
  font-family: "Helvetica Neue";
  margin: 0;
  background-color: #ffe1b9;
  height: 1500px;
}

header {
  position: sticky;
  top: 0;
  width: 100vw;
  background-color: #fff;

}

.top-nav {
  box-sizing: border-box;
  width: 100%;
  height: 61px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;

}

.part-left, 
.menu,
.part-right {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.menu {
  gap: 100px;
}

.part-left .search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container input {
  width: 281px;
  height: 40px;
  border: none;
  border-radius: 30px;
  background-color: #F1F2F5;
  padding: 0 10px 0 36px;
}

.search-container input::placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #555555;
}

.search-icon {
  position: absolute;
  left: 10px;
}

.search-container svg {
  fill: #66676B;
}

.search-container input:focus {
  border: none;
  background-color: #babcc2;
}

.search-container input:focus + .search-icon svg {
  fill: #4d4d50;
}

.icon svg {
  fill: #fff;
  padding: 0;
  margin: 0;
}

.icon {
  position: relative;
}

.icon-videos::before,
.icon-groups::before,
.btn.notifs::before {
  content: "6";
  display: block;
  background-color: #DE3F4F;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -10px;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
}

.icon-groups::before {
  content: "1";
}

.btn.notifs::before {
  content: "5";
  right: -5px;
  top: -5px;
}

.profile {
  display: flex;align-items: center;
  gap: 5px;
  margin: 0 9px;
}

a.profile-img {
  display: block;
  background-color: #4d4d50;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.right-options {
  display: flex;
  gap: 8px;
}

a.btn {
  position: relative;
  background-color: #E5E6EB;
  border-radius: 50%;
  padding: 11px;
  display: block;
}

a.btn svg {
  height: 18px;
  width: 18px;
}

.search-btn {
  display: none;
}

@media screen and (max-width: 1300px){
  .menu {
    gap: 30px;
  }
}

@media screen and (max-width: 950px){
  a.btn:not(.more) {
    display: none;
  }

  a.btn.more {
    order: -1;
  }

  .right-options.open {
    flex-direction: column;
    align-self: flex-start;
    margin-top: 11px;
  }

  .right-options.open a.btn {
    display: block;
  }
}

@media screen and (max-width: 800px){
  .top-nav {
    flex-wrap: wrap;
  }

  .menu {
    order: 1;
    flex-basis: 100%;
    width: 100vw;
    justify-content: space-around;
    background-color: #fff;
  }

  header {
    height: 122px;
  }

  .search-btn {
    display: block;
    padding: 8px;
  }

  .search-container input {
    max-width: 95vw;
  }

  .part-left .search {
    display: none;
  }

  .part-left .search.active {
    position: fixed;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.6);
    z-index: 1;
  }

  .part-left .search-container {
    height: fit-content;
  }
}